*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #f4f4f4;
}

.topo {
    background: #2b5d9f;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.botoes button {
    margin-left: 10px;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.login {
    background-color: white;
    color: #2b5d9f;
}

.cadastro {
    background-color: orange;
    color: white;
}

.conteudo {
    display: flex;
    grid-template-columns: 1fr 3fr 1fr;
    gap: 20px;
    padding: 40px;
}

.topicos {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
}

topicos h3 {
    margin: 10px;
}

topicos ul {
    padding: 5px 0;
    cursor: pointer;
}

.topicos li {
    padding: 5px 0;
    cursor: pointer;
}
.noticia-principal {
    background-color: #ededed;
    padding: 20px;
    border-radius: 5px;
    margin-top: 20px;
    padding: 20px;
    border: 5px;
}

    .duas-noticias {
    padding: 20px;
    border-radius: 5px;
    display: flex;

}

    .noticia1, .noticia2{
    background-color: #ededed;
    padding-bottom: 50px;
    margin-bottom: 20px;
    width: 300px;
    border-radius: 5px;
    padding: 10px;

    }

.autor {
    color: grey;
    margin-top: 5px;
    text-align: right;
}

.autor-noticia-aside {
    color: grey;
    margin-top: 5px;
    text-align: right;
}

footer {
    background: #2b5d9f;
    text-align: center;
    padding: 20px;
    color: black;
}

.artigos-recentes {

}